@import "~bootstrap/scss/bootstrap.scss";

body {
    background-color: rgb(100, 100, 100);
}


.trafficlighttop {
     width: 10px;
     height: 200px;
     background-color: rgb(20, 20, 20);
     box-shadow: 0px 5px 10px 5px rgba(54, 54, 54, 0.178);

 }

.trafficlightmain {
    width: 160px;
    height: 385px;
    background-color: rgb(20, 20, 20);
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0px 10px 20px 10px rgba(20, 20, 20, 0.425);


}

.light {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 8px;
    cursor: pointer;


&.yellow {background-color: rgb(229, 255, 0); margin:15px;}

&.red {background-color: rgb(255, 51, 0); margin: 15px;}

&.green {background-color: rgb(51, 255, 0); margin: 15px;}

&.selected {box-shadow:0px 0px 40px 15px rgba(255, 255, 255, 0.89);}

}

.light:hover {box-shadow:0px 0px 40px 15px rgba(221, 245, 113, 0.644);}